<div id="contact-us" class="form-2 contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">Contact Us</div>
                    <div>
                        <h3>Training Schedule</h3>
                        <ul>
                            <li>Tuesday from 17:00 - 18:30 at De La Salle College</li>
                            <li>Wednesday from 17:00 - 18:30 at De La Salle College</li>
                            <li>Thursday from 17:00 - 18:30 at De La Salle College</li>
                        </ul>
                    </div>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i><a href="https://goo.gl/maps/D8WyiGeL8CdZnQ7L8" target="_blank">De La Salle College, St Edward Street, Birgu 9021, Malta</a></li>
                        <li><i class="fas fa-phone"></i><a href="tel:003024630820">+356 7999 0300</a></li>
                        <li><i class="fas fa-phone"></i><a href="tel:003024630820">+356 9942 1295</a></li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:evolve.academymalta@gmail.com">evolve.academymalta@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-us-image">
                    <img src="assets/images/contact-us-image.jpg" class="academy-image">
                </div>
            </div>
        </div>
    </div>
</div>