<div id="academy-information" class="form-2 bg-gray academy-information">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">ACADEMY INFORMATION</div>
                    <div>
                        <h3>Training Schedule</h3>
                        <ul>
                            <li>Tuesday from 17:00 - 19:00 at De La Salle College</li>
                            <li>Thursday from 17:00 - 19:00 at De La Salle</li>
                            <li>Saturday from 10:00 - 11:00 at St. Martin's Swatar</li>
                        </ul>
                    </div>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i><a href="https://goo.gl/maps/D8WyiGeL8CdZnQ7L8" target="_blank">Salle College, St Edward St, Birgu 9021, Malta</a></li>
                        <li><i class="fas fa-phone"></i><a href="tel:003024630820">+356 7999 0300</a></li>
                        <li><i class="fas fa-phone"></i><a href="tel:003024630820">+356 9942 1295</a></li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:evolve.academymalta@gmail.com">evolve.academymalta@gmail.com</a></li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">

                <!-- Contact Form -->
                <!-- <form>
                    <div class="mb-4 form-floating">
                        <input type="text" class="form-control" id="floatingInput4" placeholder="Name">
                        <label for="floatingInput4">Name</label>
                    </div>
                    <div class="mb-4 form-floating">
                        <input type="email" class="form-control" id="floatingInput5" placeholder="name@example.com">
                        <label for="floatingInput5">Email</label>
                    </div>
                    <div class="mb-4 form-floating">
                        <textarea class="form-control" id="floatingTextarea1" placeholder="Your message here" rows="4"></textarea>
                        <label for="floatingTextarea1">Message</label>
                    </div>
                    <div class="mb-4 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">I agree with the <a href="#">Privacy Policy</a> and <a href="#">Terms &amp; Conditions</a></label>
                    </div>
                    <button type="submit" class="form-control-submit-button">Submit</button>
                </form> -->
                <div class="academy-info-image">
                    <img src="assets/images/academy-info-image.JPG" class="academy-image">
                </div>
                <!-- end of contact form -->
                
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>