        <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark top-nav-collapse" aria-label="Main navigation">
            <div class="container">

                <a class="navbar-brand logo-image" href="#"><img src="assets/images/logo-light.png" alt="alternative"></a> 

                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbars">
                    <ul class="navbar-nav ms-auto navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" href="#intro">Intro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#our-vision">Our Vision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#our-team">Our Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#why-us">Why Joining US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#academy-information">Academy Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#news">News</a>
                        </li>
                    </ul>
                    <span class="nav-item social-icons">
                        <span class="fa-stack">
                            <a href="https://www.facebook.com/evolvebadmintonacademy" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/evolvebadmintonacademy" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </nav>
