<header id="intro" class="header">
    <div class="offers-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h1 class="h1-large offers-welcome">WELCOME TO EVOLVE BADMINTON ACADEMY!</h1>
                    <div>
                        <h1 class="h1-large offers-header">Our academy offers</h1>
                        <div class="offers-content">
                            <p class="p-small text-light">
                                <span>Badminton coaching sessions</span> to both kids and adults of all abilities and ages. Members are divided into groups according to abilities, each having a coach.
                            </p>
                            <p class="p-small text-light">
                                <span>Court rentals</span> to enjoy badminton matches with family and friends. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> 