.header .h1-large {
	margin-bottom: 1rem;
	color: #ffffff;
	font-size: 3rem;
	line-height: 3.5rem;
}

.header .p-large {
	margin-bottom: 2.375rem;
	color: #efefef;
}

.header .offers-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 15px;
}

.header .text-container {
    padding: 10px;
    background-color: #e0e0e030;
}

.header .offers-container .offers-welcome {
    background-color: #CA4246;
  
    /* Create the gradient. */
     background-image: linear-gradient(
          45deg,
          #CA4246 16.666%, 
          #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%, 
          #8B9862 50%, 
          #8B9862 66.666%, 
          #476098 66.666%, 
          #476098 83.333%, 
          #A7489B 83.333%);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 1.75s ease forwards;
}

.header .offers-container .offers-welcome,
.header .offers-container .offers-header {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.header .offers-container .offers-header {
    /* color: #c3e1edd6; */
}

.header .offers-container .offers-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header .offers-container .offers-content > p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    width: 80%;
}

.header .offers-container .offers-content p > span{
    font-weight: bold;
    color: navajowhite;
}