.sponsors .sponsors-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition-duration: 300ms; transform: translate3d(-3426px, 0px, 0px);
}

.sponsors .slide-container .swiper-slide {
    width: 310.667px;
    margin-right: 70px;
}

.sponsors .card .card-image {
    border-radius: 0;
    width: 70%;
    height: 25%;
}
