<div class="slider-1 bg-gray sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Sponsors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="slider-container">
                    <div class="swiper-container card-slider swiper-container-horizontal">
                        <div class="swiper-wrapper sponsors-logo">
                            <div class="swiper-slide" data-swiper-slide-index="0">
                                <div class="card">
                                    <img class="card-image" src="assets/images/sponsor-victor.png" alt="alternative">
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="1">
                                <div class="card">
                                    <img class="card-image" src="assets/images/sponsor-squareone.png" alt="alternative">
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="2">
                                <div class="card">
                                    <img class="card-image" src="assets/images/sponsor-malta-sports-online.png" alt="alternative">
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="3">
                                <div class="card">
                                    <img class="card-image" src="assets/images/sponsor-villagers-tours.png" alt="alternative">
                                </div>
                            </div>
                            <div class="swiper-slide hidden" data-swiper-slide-index="4">
                                <div class="card">
                                    <img class="card-image" src="assets/images/sponsor-go-fun.png" alt="alternative">
                                </div>
                            </div>
                            <div class="swiper-slide hidden" data-swiper-slide-index="5">
                                <div class="card">
                                    <img class="card-image" src="assets/images/sponsor-enemed.png" alt="alternative">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"></div>
                        <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>