<div id="intro" class="intro cards-1">
    <div class="container">
        <div class="row">
            <div class="offers-container">
                <div class="row">
                    <h3 class="offers-welcome">WELCOME TO EVOLVE BADMINTON ACADEMY!</h3>
                    <div class="intro-contents">
                        <h1 class="h1-large offers-header">What our academy offers</h1>
                        <div class="offers-content">
                            <ul>
                                <li>
                                    <span class="text-black">
                                        <span>Badminton coaching sessions</span> to both <span>kids</span> and <span>adults</span> of all abilities and ages.
                                    </span>
                                </li>
                                <li>
                                    <span class="text-black">
                                        <span>Court rentals</span> to enjoy badminton matches with family and friends.
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>