<evolve-navbar></evolve-navbar>
<evolve-header></evolve-header>
<evolve-intro></evolve-intro>
<evolve-our-vision></evolve-our-vision>
<evolve-services></evolve-services>
<evolve-kits></evolve-kits>
<evolve-our-team></evolve-our-team>
<evolve-why-us></evolve-why-us>
<evolve-contact-us></evolve-contact-us>
<evolve-sponsors></evolve-sponsors>
<evolve-footer></evolve-footer>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2022 Evovle Badminton Academy</p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>