<div  id="why-us" class="accordion-1 why-us">
    <div class="why-us-image"></div><!-- end of area-1 on same line and no space between comments to eliminate margin white space -->
    <div class="area-2">
        <!-- Accordion -->
        <div class="accordion">
            <h2>Why Joining US?</h2>
                    
            <!-- Accordion Item -->
            <div class="accordion-item">
                <div class="accordion-icon">1</div>
                <div class="accordion-header">
                    <h5>3/4 coaches in one session</h5>
                </div>
            </div> <!-- end of accordion-item -->
            <!-- end of accordion-item -->

            <!-- Accordion Item -->
            <div class="accordion-item">
                <div class="accordion-icon">2</div>
                <div class="accordion-header">
                    <h5>Qualified coaches</h5>
                </div>
            </div> <!-- end of accordion-item -->
            <!-- end of accordion-item -->

            <!-- Accordion Item -->
            <div class="accordion-item">
                <div class="accordion-icon">3</div>
                <div class="accordion-header">
                    <h5>Groups divided according to abilities</h5>
                </div>
            </div> <!-- end of accordion-item -->
            <!-- end of accordion-item -->

            <!-- Accordion Item -->
            <div class="accordion-item">
                <div class="accordion-icon">4</div>
                <div class="accordion-header">
                    <h5>Individual attention</h5>
                </div>
            </div> <!-- end of accordion-item -->
            <!-- end of accordion-item -->

            <!-- Accordion Item -->
            <div class="accordion-item">
                <div class="accordion-icon">5</div>
                <div class="accordion-header">
                    <h5>Fun & welcoming environment</h5>
                </div>
            </div> <!-- end of accordion-item -->
            <!-- end of accordion-item -->

        </div> <!-- end of accordion -->
        <!-- end of accordion -->

    </div> <!-- end of area-2 -->
</div>