.why-us .why-us-image {
    height: 440px;
    background: url(/assets/images/why-us.jpg) center center no-repeat;
    background-size: cover;
    width: 49%;
    height: 100%;
    display: inline-block;
}