<div id="services" class="cards-2 our-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">EVOLVE's SERVICES</div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/coaching-sessions.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Training sessions for all levels & ages</h6>
                        <p>Training groups are divided according to abilities with 3 coaches. We offer the best training sessions for different Levels and ages.</p>
                        <div class="price">Starting at <span>&euro;7</span></div>
                    </div>
                    <div class="button-wrapper">
                        <a class="btn-solid-reg" href="https://www.calengoo.com/booking/Evolve_badminton_academy/#/" target="_blank">Book now</a>
                    </div> <!-- end of button-wrapper -->
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/1-1.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Individual training sessions with <span>Matthew Abela</span></h6>
                        <p>Join professional player Matthew Abela as he takes you through a typical individual training session to work on all the essential skills needed as a badminton player.</p>
                        <div class="price">Starting at <span>&euro;20</span></div>
                    </div>
                    <div class="button-wrapper">
                        <a class="btn-solid-reg" href="#registration">Book now</a>
                    </div> <!-- end of button-wrapper -->
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/court-rentals.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Court rentals for all</h6>
                        <p>Court rentals allow a group of friends to use a court and enjoy it for an allocated amount of time. You can bring any guests you want to play with.</p>
                        <div class="price">Starting at <span>&euro;10</span></div>
                    </div>
                    <div class="button-wrapper">
                        <a class="btn-solid-reg" href="#registration">Book now</a>
                    </div> <!-- end of button-wrapper -->
                </div>
                <!-- end of card -->


            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div>