<div id="our-team" class="card-2 our-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Our Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="cards">
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/trainer-matthew.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <a  id="show-more-1" class="show-less" href="#show-less-1">Show less</a>
                        <a  id="show-less-1" class="show-more" href="#show-more-1">Show more</a>
                        <h6 class="card-title">Matthew Abela</h6>
                        <p>Matthew is a professional badminton player and has lived in Denmark for 3 years and a half to enhance his skills and performance in badminton. Matthew is an Olympian who represented Malta and badminton for the first time ever at the Olympic Games of Tokyo 2020. For the 6th consecutive time, Matthew has been crowned as the National Champion in the singles game. Apart from training on a daily basis, Matthew is also currently sharing his knowledge in coaching. He is a qualified BWF level 1 & 2 badminton coach. Matthew is also a graduate in Advanced Diploma in Sports and Coaching. He is currently coaching badminton at the National Sports School and at Evolve Badminton Academy. </p>
                        <div class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/AbelaMatt/" target="_blank">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/mat_abela/" target="_blank">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/trainer-melanie.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <a  id="show-more-2" class="show-less" href="#show-less-2">Show less</a>
                        <a  id="show-less-2" class="show-more" href="#show-more-2">Show more</a>
                        <h6 class="card-title">Melanie Grech</h6>
                        <p>
                            Melanie is a graduate in Bachelor in Science (Honours) in Sports and Physical Activity as well as in Masters in Teaching and Learning in Physical Education. Melanie is also a certified Badminton World Federation (BWF) Level 1 coach. Melanie is currently a Physical Education teacher, a coach with SportMalta as well as a coach at Evolve Badminton Academy.
                            <span><i>"As a coach within Evolve Badminton Academy, my aim is to adapt and to cater for all needs, to create an environment that is constantly challenging and enjoyable for every ability whilst providing both encouragement and support. My goal is to also deliver sessions focusing on the fundamental movement skills which are an important foundation for children as they aid them with their development in sport and physical activity from a young age. Besides this, I intend to support and guide participants in enhancing their skills and technique in badminton. Most of all, my aim is to transmit the same passion towards badminton and physical activity and aspire to #evolvingtogether - evolving as a team- evolving our academy- evolving our sport and bringing more individuals towards badminton".</i></span>
                        </p>
                        <div class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/100000742975624/" target="_blank">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/melaniegrechx/" target="_blank">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/trainer-luke.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <a  id="show-more-3" class="show-less" href="#show-less-3">Show less</a>
                        <a  id="show-less-3" class="show-more" href="#show-more-3">Show more</a>
                        <h6 class="card-title">Luke Austin</h6>
                        <p>
                            Luke recently moved to Malta from England and have completed his Masters in Teaching and Learning in Physical Education at the University of Malta. He is a BWF Level 1 certified coach in Badminton and also a Level 2 Badminton England coach. In England Luke has completed his studies in Bachelor of Science with Honours in Sport Coaching Science and also achieved an Extended Diploma in Sport. He had various coaching opportunities with different clubs in England and his goal is to share the knowledge and experiences gained with local children.
                            <span><i>"As a coach with Evolve Badminton Academy, my aim is to enhance players' technical and tactical skills to be able to progress their understanding and ability within badminton. My aim is also to create a friendly atmosphere where coaching will be catered to various individual needs".</i></span>
                        </p>
                        <div class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/luke.austin.370515" target="_blank">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://www.instagram.com/lukeaustin_o_o/" target="_blank">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/trainer-w.png" alt="alternative">
                    </div>
                    <div class="card-body">
                        <a  id="show-more-4" class="show-less" href="#show-less-4">Show less</a>
                        <a  id="show-less-34" class="show-more" href="#show-more-4">Show more</a>
                        <h6 class="card-title">Eleanor Abela</h6>
                        <p>
                            Eleanor is an ex-National Sport School (NSS) student who practiced Badminton on a regular basis. Eleanor had many opportunities to travel overseas for training camps, under the guidance of professional coaches. Besides this, she has also competed in badminton internationally. Eleanor has also won some titles, in different categories, mainly in doubles, during the Junior National Championships organised by Badminton Malta. Eleanor is keen to transmit what she had learned and developed in badminton and pass it to our youngsters. Her aim is to develop fun and motivating sessions focusing on fundamentals movement skills while also introducing the young participants to badminton. Eleanor is also keen to work and learn with and from our team of coaches and to further develop her coaching skills.
                        </p>
                        <div class="social-icons">
                            <span class="fa-stack">
                                <a href="#any-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#any-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>