<div id="kits" class="form-2 bg-gray kits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">Evolve Kits</div>
                <div class="kit-prices">
                    <h5 class="card-title">Contact us if you would like to order our kit.</h5>
                    <h6>Prices:</h6>
                    <ul>
                        <li class="price">T-Shirt: <span>&euro;30</span></li>
                        <li class="price">Skorts/Shorts: <span>&euro;20</span></li>
                        <li class="price">Printing: <span>&euro;20</span></li>
                    </ul>
                </div>
                <div class="kit-photos">
                    <div class="col-lg-5 card">
                        <h6 class="section-title">t-shirt and skorts</h6>
                        <div class="skort-shirt card-image">
                            <img class="img-fluid" src="assets/images/skort-shirt.jpg">
                        </div>
                    </div>
                    <div class="col-lg-5 card">
                        <h6 class="section-title">t-shirt and shorts</h6>
                        <div class="short-shirt card-image">
                            <img class="img-fluid" src="assets/images/short-shirt.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>