<div id="our-vision" class="basic-1 bg-gray our-vision">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">OUR VISION</div>
                    <h2>Mission Statement</h2>
                    <p>i. Evolve Badminton Academy seeks to promote and expand the badminton community around Malta by providing the support and guidance needed for our members to enjoy and thrive in the game we are so passionate about</p>
                    <h2>Vision</h2><p class="testimonial-text">ii. Evolve Badminton Academy is devoted in providing individuals of all abilities and ages every opportunity to enjoy the game of badminton and to individually guide them in achieving their maximum protentional as players in this sport. </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid vision-photo" src="assets/images/vision-1.jpg" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>
