<div id="our-vision" class="basic-1 bg-gray our-vision">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">OUR VISION</div>
                    <h2>Mission Statement</h2>
                    <p>Evolve Badminton Academy aims to promote and expand by positively influencing the badminton community around Malta by providing support and guidance needed for our members to enjoy and thrive in the game we are so passionate about.</p>
                    <h2>Aim</h2>
                    <p class="testimonial-text">Evolve Badminton Academy is devoted in providing individuals of all abilities and ages every opportunity to enjoy the game of badminton and to individually guide them to achieve their maximum potential and progressively become better badminton players.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid vision-photo" src="assets/images/vision-1.jpg" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>
